* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation section */

nav {
  min-height: 120px;
}

.link,
header {
  font-family: "Clash Display", sans-serif;
}

#star1 {
  position: absolute;
  right: 120px;
  top: 15px;
  width: 64px;
}
#star2 {
  position: absolute;
  left: 120px;
  top: 70px;
  width: 48px;
  transform: rotate(45deg);
}

/* Header Component */
#header-bg {
  top: -175px;
  z-index: -1;
}

[alt="achivement"] {
  width: 569px;
  height: 357.74px;
}

#first-image {
  transform: rotate(-15deg);
  z-index: 10;
  width: 450px;
  top: -140px;
  left: -10px;
}
#Second-image {
  transform: rotate(-15deg);
  z-index: 9;
  width: 450px;
  top: -55px;
  left: 130px;
}
#third-image {
  z-index: 8;
  transform: rotate(-15deg);
  width: 450px;
  top: 10px;
  right: -60px;
}

#bg-spiral {
  position: absolute;
  top: -130px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#bg-color {
  position: absolute;
  top: -300px;
  left: 0;
  width: 150%;
  height: 150%;
  z-index: -1;
}

/* Features section */

.Features {
  font-family: "Clash Display", sans-serif;
}

/* Advantages section */

.advantages {
  font-family: "Clash Display", sans-serif;
}

/* Customizable section */
.Customizable {
  font-family: "Clash Display", sans-serif;
}

/* Testimonial Section */
.Testimonial {
  font-family: "Clash Display", sans-serif;
}


/* FAQ Section */
.faq{
  font-family: "Clash Display", sans-serif;
}

/* Footer section */

footer {
  font-family: "Clash Display", sans-serif;
}
.gradient-line {
  position: relative;
  height: 2px;
  background: linear-gradient(to right, transparent, #000, transparent);
  margin: 20px auto;
  width: 1200px;
  
}